<div>
    <div class="boxTitle">
        <h1>Productos en tiempo real</h1>
    </div>

    <div class="bodyPage" id="boxProducts"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTime/index.js"></script>