<div class="boxTitle">
        <h1>Registro de usuario</h1>       
</div>

<div class="containerRegister">
    <div class="login-box">
    <h2>Registro</h2>
    <form id="register-form" action="/session/register" method="post">
        <div class="input-container">
            <label for="nombre">Nombre:</label>
            <input class="inputRegister" type="text" id="nameRegister" name="first_name">
        </div>
        <div class="input-container">
            <label for="apellido">Apellido:</label>
            <input class="inputRegister" type="text" id="lastNameRegister" name="last_name">
        </div>
        <div class="input-container">
            <label for="edad">Edad:</label>
            <input class="inputRegister" type="number" id="ageRegister" name="age">
        </div>
        <div class="input-container">
            <label for="email">Email:</label>
            <input class="inputRegister" type="email" id="emailRegister" name="email">
        </div>
        <div class="input-container">
            <label for="contraseña">Contraseña:</label>
            <input class="inputRegister" type="password" id="passwordRegister" name="password">
        </div>
        <button class="btnChat" type="submit" id="submitRegister">Enviar</button>
    </form>
</div>
</div>