<div>
    <div class="boxTitle">
        <h1>Chat</h1>
    </div>
    
    <div class="bodyPage" id="boxProducts"></div>
    <div id="chatMain">
        <div id="sendMessage">
            <div id="textMesaje"></div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat/index.js"></script>