<div>
    <div class="boxTitle">
        <h1>Chat</h1>
    </div>
    
        <div class="inputEmail">
            <p class="labelCls">Ingresa tu Email</p>
            <input type="text" placeholder="email" class="inputCls" id="inputEmail">
            <button type="submit" class="btnChat" id="btnSendEmail">enviar</button>
        </div>

</div>
<script src="/js/chat/index.js" ></script>